<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <header id="page-header">
            {{- partial "header.html" . -}}
            <nav id="main-menu">
                {{- partial "menu.html" . -}}
            </nav>
        </header>
        {{ if not .IsHome }}
            <nav class="p-2 bg-gray-400 text-sm">
                <ul class="flex" aria-label="Breadcrumb">
                    {{- partial "breadcrumb-trail" (dict "CurrentPage" true "Page" .) -}}
                </ul>
            </nav>
        {{ end }}
        <main id="content" class="p-4">
        {{- block "main" . }}{{- end }}
        </main>
        <footer id="main-footer" class="p-4">
            {{- block "footer-pre" . }}{{- end }}
            {{- partial "footer.html" . -}}
            {{- block "footer-post" . }}{{- end }}
        </footer>
    </body>
</html>
